@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shutter {
    @apply relative overflow-hidden;
  }

  .shutter::before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    transform: translateY(0%);
    transition: transform 0.9s cubic-bezier(0.22,1,0.36,1);
    z-index: 50;
  }

  .shutter.reveal::before {
    transform: translateY(-100%);
  }
}
